*{
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 10rem;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 auto;
    padding: 0 8rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo img {
    max-width: 7rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: 100%;
}

.navbar-links {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar-links:hover{
    text-shadow: 0 0 20px white;
    transform: all 0.3s ease;
}

.home {
    height: 45rem;
    background-image: url('../images/home-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


