:root {
    /* images */
    --image-home-background: url('../images/home-img.jpg');
    --image-about-background: url("../images/logo-img.jpg");
    --image-client-background: url("../images/mapa.jpg");
    /* color */
    --color-navbar-background: #f5f5f5;
    --color-menu-highlight: #a8e063;
    --color-menu-background-highlight: #428323;
    --color-container: #f5f5f5;
    --color-secao-background: #f5f5f5;
    --color-home-container: white;
    --color-about-text: rgb(8, 71, 8);
    --color-section-title: #f5f5f5;
    --color-services-background: #a8e06377;
    --color-services-topics: #f5f5f5;
    --color-services-icon:#f5f5f5;
    --color-clients-background: white;
    --color-clients-h3:#254914;
    --color-contact-text:rgb(8, 71, 8);
    --color-mobile-navbar-menu-active: rgb(8, 71, 8);
    --color-mobile-navbar-bar: rgb(8, 71, 8);
    /* font-size */
    --font-navbar: 1.2rem;
    --font-section-title:2rem;
    --font-about-title: 1.7rem;
    --font-about-text: 1.3rem;
    --font-services-topics: 1.2rem;
    --font-services-list: 1.3rem;
    --font-clients-h3: 1rem;
    --font-footer-container: 1.3rem;
    --font-mobile-menu: 1.6rem;
    --font-mobile-about-text: 1rem;
    --font-mobile-services-topics: 1rem;
    /* font-weight */
    --regular: 400;
    --bold: 700;
    /* line height */
    --lineheight-services-list: 2rem;
    --lineheight-contact: 2rem;
    /* width */
    --width-navbar-container: 100%;
    --width-navbar-logo-img: 5rem;
    --width-navbar-link: 7rem;
    --width-home-section: 100%;
    --width-home-container: 24rem;
    --width-secao: 80%;
    --width-about-img: 100%;
    --width-section-title: 100%;
    --width-services-img: 100%;
    --width-services-img-3: 12rem;
    --width-services-acordeon: 100%;
    --width-footer: 100%;
    --width-contact: 80%;
    --width-footer-box: 100%;
    --width-mobile-secao:100%;
    --width-mobile-about-img: 75%;
    --width-mobile-clients-map: 70%;
    --width-mobile-navbar-menu: 100%;
    --width-mobile-navbar-bar: 25px;
    --width-mobile-navbar-links: 100%;
    /* height */
    --height-navbar: 4rem;
    --height-navbar-container: 100%;
    --height-navbar-item: 100%;
    --height-navbar-links: 100%;
    --height-home-section: 37.1rem;
    --height-home-container:24rem;
    --height-home-logo-img: 18rem;
    --height-clients-logo-img: 4rem;
    --height-mobile-navbar-bar: 3px;
    --height-mobile-home-logo-img: 15rem;
    --height-mobile-services: 100%;
    --height-mobile-clients-logo-img: 3rem;
    /* padding */
    --padding-about-container: 2rem;
    --padding-section-title: 1rem;
    --padding-services-container: 2rem;
    --padding-services-topics:0.5rem 2rem;
    --padding-services-box: 0 1rem;
    --padding-clients-logos: 1.5rem;
    --padding-clients-imgs: 1rem;
    --padding-footer: 1rem 0 2rem 0;
    --padding-mobile-navbar-container: 0;
    --padding-mobile-navlinks: 2rem;
    --padding-mobile-services-container: 1rem;
    --padding-mobile-clients-logos: 0rem;
    /* margin */
    --margin-navbar-container: 0 8rem;
    --margin-clients-container-h3: 0 0 0.5rem 0;
    --margin-clients-logos: 1rem;
    --margin-contact-contato: 0rem;
    --margin-footer-icons: 2rem 0 1.5rem 0;
    --margin-mobile-client-map: 2rem 0 0 0;
    --margin-mobile-navbar-container: 1rem;
    --margin-mobile-navbar-logo: 1rem;
    --margin-mobile-navbar-menu: 0;
    --margin-mobile-navbar-bar: 5px auto;
    --margin-mobile-services-box: 0;
    --margin-mobile-clients-logos: 0;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-navbar);
    position: sticky;
    top: 0;
    z-index: 999;
    height: 4rem;
    background: var(--color-navbar-background);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: var(--width-navbar-container);
    margin: var(--margin-navbar-container);
    height: var(--height-navbar-container);
    z-index: 1;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo img {
    max-width: var(--width-navbar-logo-img);
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: var(--height-navbar-item);
}

.navbar-links {
    color: #56ab2f;
    color: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    color: linear-gradient(to right, #a8e063, #56ab2f);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width-navbar-link);
    height: var(--height-navbar-links);
    text-decoration: none;
    transition: all 0.7s ease;
}

.navbar-links:hover{
    border-bottom: 1rem solid var(--color-menu-background-highlight);
    transition: all 0.7s ease;
}

.highlight {
    background: var(--color-menu-background-highlight);
    color: var(--color-menu-highlight);
    transition: all 0.7s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-container);
}

.home-section {
    height: var(--height-home-section);
    width: var(--width-home-section);
    background-image: var(--image-home-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width-home-container);
    height: var(--height-home-container);
    border-radius: 15rem;
    transform: scale(0.8);
    background: var(--color-home-container);
}

.home-edf {
    max-height: var(--height-home-logo-img);
}

.secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--width-secao);
    background: var(--color-secao-background);
}

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    background-image: var(--image-about-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.about-container {
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--color-about-text);
    padding: var(--padding-about-container);
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
    grid-template-areas:
    "abImg abTitle"
    "abImg abText"
    "miTitle miImg"
    "miText miImg"
    ;
}

.about-container img {
    max-width: var(--width-about-img);
}

.about-img {
    grid-area: abImg;
}

.about-title {
    grid-area: abTitle;
    font-size: var(--font-about-title);
    font-weight: bold;
}

.about-text {
    grid-area: abText;
    font-size: var(--font-about-text);
    text-align: center;
    align-self: baseline;
}

.mission-img {
    grid-area: miImg;
}

.mission-title {
    grid-area: miTitle;
    font-size: var(--font-about-title);
    font-weight: bold;
}

.mission-text {
    grid-area: miText;
    font-size: var(--font-about-text);
    text-align: center;
    align-self: baseline;
}

.section-title {
    text-align: center;
    font-size: var(--font-section-title);
    font-weight: var(--bold);
    color: var(--color-section-title);
    width: var(--width-section-title);
    padding: var(--padding-section-title);
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
    border-radius: 0.5rem;
}

/* .services-container {
    padding: var(--padding-services-container);
    text-align: start;
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "licenca analises"
    "img1 img1"
    "projetos geoprocessamento"
    "img2 img2";
} */

.services-container {
    padding: var(--padding-services-container);
    text-align: start;
    display: grid;
    grid-gap: 2rem 1rem;
    /* grid-template-columns: repeat(auto-fill, minmax(33.3333%, auto)); */
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "img1 img1"
    "projetos licenca"
    "projetos analises"
    "projetos groprocessamento"
    "img2 img2";
}

.services-img {
    display: none;
}

.services-mobile-img {
    display: block;
    justify-self: center;
    width: var(--width-services-img);
}

.image-1 {
    grid-area: img1;
}

.image-2 {
    grid-area: img2;
}

.image-3 {
    /* justify-self: center;
    align-self: center; */
    /* max-width: var(--width-services-img-3); */
    grid-area: img3;
    display: none;
}

.services {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: var(--color-services-background);
}

.acordeon-question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: var(--width-services-acordeon);
    cursor: default;
}

.acordeon-question span {
    text-align: center;
    font-size: var(--font-services-topics);
    font-weight: var(--bold);
    color: var(--color-services-topics);
    padding: var(--padding-services-topics);
    width: var(--width-services-acordeon);
    background: linear-gradient(#76ca55, #3d7921);
    border-radius: 0.5rem;
}

.icon {
    position: absolute;
    display: none;
    right: 1rem;
    color: var(--color-services-icon);
}

.acordeon-answer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-services-box);
    /* font-size: var(--font-services-list); */
    line-height: var(--lineheight-services-list);
    width: var(--width-services-acordeon);
}

.acordeon-answer span {
    font-size: 1.2rem;
    display: block;
}

.acordeon-answer li {
    display: block;
    pointer-events: none;
}

.acordeon-answer li a {
    text-decoration: none;
    font-weight: var(--bold);
    color: #254914;
}

/* .acordeon-answer li a:hover {
    color: #428323;
} */

/* .acordeon-answer li:hover > :not(:hover){
    opacity: .3;
} */

.acordeon-answer ul:hover > * {
    opacity: .6;
}

.acordeon-answer ul {
    pointer-events: none;
}

.acordeon-answer ul > * {
    pointer-events: auto;
}
.acordeon-answer ul:hover > *:hover {
    opacity: 1;
}
/* ---------------------------- testando hover -------------------  */
.licenca {
    grid-area: licenca;
}

.gestao {
    grid-area: gestao;
}

.especificos {
    grid-area: especificos;
}

.monitoramentos {
    grid-area: monitoramentos;
}

.estudos {
    grid-area: estudos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estudos-container {
    display: flex;
    justify-content: space-between;
}

.projetos {
    grid-area: projetos;
}

.analises {
    grid-area: analises;
}

.clients-section {
    background: var(--color-clients-background);
}

.clients-container {
    background-image: var(--image-client-background);
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position: center 2rem;
    text-align: center;
    display: grid;
    grid-column-gap: 20%;
    grid-template-areas:
    "energia construtoras"
    "industria mineradoras"
    "tecnico tecnico"
    ;
}

.clients-map {
    display: none;
}

.clients-container h3 {
    margin: var(--margin-clients-container-h3);
    font-size: var(--font-clients-h3);
    font-weight: var(--bold);
    color: var(--color-clients-h3);
}

.clients-logos {
    margin: var(--margin-clients-logos);
    padding: var(--padding-clients-logos);
}

.clients-logos img {
    height: var(--height-clients-logo-img);
    padding: var(--padding-clients-imgs);
}

.energia {
    grid-area: energia;
    text-align: start;
}

.mineradoras {
    grid-area: mineradoras;
    text-align: end;
}

.construtoras {
    grid-area: construtoras;
    text-align: end;
}

.industria {
    grid-area: industria;
    text-align: start;
}

.tecnico {
    text-align: start;
    grid-area: tecnico;
}

.contact-section {
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}

.contact-item {
    justify-self: center;
}

.contact-img {
    width: 15rem;
}

.contact-text {
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: var(--bold);
    text-align: center;
    color: var(--color-clients-h3);
    width: 16.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 30rem;
    height: 30rem; */
    /* padding: 1rem; */
}

.form-input-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input-area {
    width: 100%;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.input-area:focus {
    /* outline: #428323; */
    outline: 3px solid var(--color-menu-highlight);
}

.input-area::placeholder {
    opacity: 0.4;
}

.text-area-input {
    border: none;
    outline: none;
    font-size: 1.8rem;
    width: 100%;
    border-radius: 0.5rem;
}

.text-area-input:focus {
    outline: 3px solid var(--color-menu-highlight);
}

.text-area-input::placeholder {
    padding: 0.5rem;
    opacity: 0.4;
}

.form-submit-button {
    cursor: pointer;
    align-self: center;
    width: 50%;
    font-size: 1rem;
    font-weight: var(--bold);
    color: #3d7921;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background: #a8e063;
    border: none;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.75);
}

.form-submit-button:active {
    background: #56ab2f;
    color: #254914;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.error-icon {
    position: absolute;
    right: 1rem;
    display: none;
}

.error-msg {
    font-size: 0.8rem;
    color: #cd2424;
    padding-bottom: 0.3rem;
    display: none;
}

.nameError-msg {
    display: none;
}

.emailError-msg {
    display: none;
}

.textAreaError-msg{
    display: none;
}

.display-error {
    display: block;
}

.display-border {
    outline: 3px solid #cd2424;
}

.display-border:focus {
    outline: 3px solid #cd2424;
}

/* --------------------------------------------------------------------------------------------------- */
footer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    width: var(--width-footer);
    background: linear-gradient(to right, #a8e063, #56ab2f);
    /* -------------------- */
    /* padding: var(--padding-footer); */
    font-size: var(--font-footer-container);
    line-height: var(--lineheight-contact);
    color: rgb(8, 71, 8);
}

.footer-box {
    width: var(--width-footer-box);
    padding: 1rem;
}

.footer-box i {
    margin: var(--margin-footer-icons);
}

.footer-subtitle {
    font-weight: var(--bold);
}


@media (max-width: 1100px) {
    .about-container {
        grid-template-areas:
        "abTitle abTitle"
        "abText abText"
        "abText abText"
        "abImg abImg"
        "abImg abImg"
        "abImg abImg"
        "miTitle miTitle"
        "miText miText"
        "miText miText"
        "miImg miImg"
        "miImg miImg"
        "miImg miImg"
        ;
    }
    
    .about-container img {
        width: var(--width-mobile-about-img);
        align-self: center;
        justify-self: center;
    }

    .contact-container {
        grid-template-columns: 1fr;
        /* width: 70%; */
    }

}

@media (max-width:970px) {
    .services-container {
        grid-template-areas:
        "licenca analises"
        "img1 img1"
        "projetos geoprocessamento"
        "img2 img2";
    }

    .gestao {
        text-align: center;
    }

    .clients-container {
        background-image: none;
        grid-column-gap: 0;
        grid-template-areas:
        "mapImg mapImg"
        "energia construtoras"
        "industria mineradoras"
        "tecnico tecnico"
        ;
    }

    .clients-map {
        margin-top: var(--margin-mobile-client-map);
        display: block;
        justify-self: center;
        grid-area: mapImg;
        width: var(--width-mobile-clients-map);
    }

    .footer-container {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width:800px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding: var(--padding-mobile-navbar-container);
        margin: var(--margin-mobile-navbar-container);
    }

    .navbar-logo {
        margin: var(--margin-mobile-navbar-logo);
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: var(--margin-mobile-navbar-menu);
        width: var(--width-mobile-navbar-menu);
        position: absolute;
        top:-1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar-menu.active {
        background: var(--color-mobile-navbar-menu-active);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;
    }

    .navbar-toggle .bar {
        width: var(--width-mobile-navbar-bar);
        height: var(--height-mobile-navbar-bar);
        margin: 5px auto;
        transition: all 0.3s ease;
        background: var(--color-mobile-navbar-bar);
    }

    .navbar-links {
        text-align: center;
        padding: var(--padding-mobile-navlinks);
        width: var(--width-mobile-navbar-links);
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .home-container {

        transform: scale(0.7);
    }

    .about-text {
        font-size: var(--font-mobile-about-text);
    }
    .mission-text {
        font-size: var(--font-mobile-about-text);
    }

    .services-container {
        padding: var(--padding-mobile-services-container);
        grid-template-columns: auto;
        grid-template-areas:
        "licenca" 
        "img1"
        "projetos"
        "img2"
        "analises"
        "img3"
        "geoprocessamento";
    }

    .image-3 {
        display: block;
    }

    .services {
        display: flex;
        flex-direction: column;
        height: var(--height-mobile-services);
    }

    .mobileQuestion {
        display: flex;
        cursor: pointer;
    }

    .mobileQuestion span{
        font-size: var(--font-mobile-services-topics);
    }

    .mobileIcon  {
        display: block;
    }
    
    .mobileAnswer {
        margin-bottom: var(--margin-mobile-services-box);
        transition: all 0.5s ease;
    }

    .mobileLi {
        display: none;
        transition: all 0.5s ease;
    }

    .gestao {
        text-align: start;
    }

    .clients-logos {
        margin: var(--margin-mobile-clients-logos);
        padding: var(--padding-mobile-clients-logos);
    }

    .clients-logos img {
        height: var(--height-mobile-clients-logo-img);
    }

    footer {
        flex-wrap: wrap;
    }
}