:root {
    /* images */
    --background-image-home: url('../images/home-img.jpg');
    --background-image-about: url("../images/logo-img.jpg");
    --background-image-client: url("../images/mapa.jpg");
    /* color */
    --color-menu-highlight: #a8e063;
    --color-about-text: rgb(8, 71, 8);
    --color-section-title: #f5f5f5;
    --color-services-topics: #f5f5f5;
    --color-services-icon:#f5f5f5;
    --color-clients-h3:#254914;
    --color-contact-text:rgb(8, 71, 8);
    /* font-size */
    --font-navbar: 1.2rem;
    --font-section-title:2rem;
    --font-about-title: 2rem;
    --font-about-text: 1.5rem;
    --font-services-topics: 1.2rem;
    --font-services-list: 1rem;
    --font-clients-h3: 1rem;
    --font-contact-container: 1.3rem;
    --font-mobile-menu: 1.6rem;
    --font-mobile-about-text: 1rem;
    --font-mobile-services-topics: 1rem;
    /* font-weight */
    --regular: 400;
    --bold: 700;
    /* line height */
    --lineheight-services-list: 2rem;
    --lineheight-contat: 2rem;
    /* width */
    --width-navbar-container: 100%;
    --width-navbar-logo-img: 5rem;
    --width-navbar-link: 7rem;
    --width-home-section: 100%;
    --width-home-container: 24rem;
    --width-secao: 80%;
    --width-about-img: 100%;
    --width-section-title: 100%;
    --width-services-img: 100%;
    --width-services-img-3: 12rem;
    --width-services-acordeon: 100%;
    --width-footer: 100%;
    --width-contact: 80%;
    --width-mobile-about-img: 75%;
    --width-mobile-clients-map: 70%;
    --width-mobile-navbar-menu: 100%;
    --width-mobile-navbar-bar: 25px;
    --width-mobile-navbar-links: 100%;
    /* height */
    --height-navbar: 4rem;
    --height-home-section: 37.1rem;
    --height-home-container:24rem;
    --height-home-logo-img: 18rem;
    --height-clients-logo-img: 4rem;
    --height-mobile-navbar-bar: 3px;
    /* padding */
    /* margin */
    /* border */
    
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 4rem;
    background: #f5f5f5;
    /* background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f); */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
    margin: 0 8rem;
    /* padding: 0 8rem; */
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo img {
    max-width: 5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    /* height: 100%; */
}

.navbar-links {
    color: #56ab2f;
    color: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    color: linear-gradient(to right, #a8e063, #56ab2f);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    text-decoration: none;
    /* height: 100%; */
    transition: all 0.7s ease;
}

.navbar-links:hover{
    border-bottom: 1rem solid #428323;
    transition: all 0.7s ease;
}

.highlight {
    background: #428323;
    color: #a8e063;
    transition: all 0.7s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    /* background: #59f01362; */
    /* background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f); */
}

.home-section {
    /* home menor  */
    /* height: 100%; */
    height: 37.1rem;
    /* --------------------------- */
    width: 100%;
    background-image: url('../images/home-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 24rem;
    border-radius: 15rem;
    transform: scale(0.8);
    background: white;
}

.home-edf {
    max-height: 18rem;
}

.secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* max-width: 1400px; */
    background: #f5f5f5
}

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    background-image: url("../images/logo-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.about-container {
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    color: rgb(8, 71, 8);
    padding: 2rem;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
    grid-template-areas:
    "abImg abImg abTitle abTitle"
    "abImg abImg abText abText"
    "abImg abImg abText abText"
    "miTitle miTitle miImg miImg"
    "miText miText miImg miImg"
    "miText miText miImg miImg"
    ;
}

.about-container img {
    max-width: 100%;
}

.about-img {
    grid-area: abImg;
}

.about-title {
    grid-area: abTitle;
    font-size: 2rem;
    font-weight: bold;
}

.about-text {
    grid-area: abText;
    font-size: 1.5rem;
    text-align: center;
    align-self: baseline;
}

.mission-img {
    grid-area: miImg;
}

.mission-title {
    grid-area: miTitle;
    font-size: 2rem;
    font-weight: bold;
}

.mission-text {
    grid-area: miText;
    font-size: 1.5rem;
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 0rem;
    width: 100%;
    padding: 1rem;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
    border-radius: 0.5rem;
}

.services-container {
    padding: 2rem;
    text-align: start;
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(33.3333%, auto));
    grid-template-areas:
    "projetos licenca"
    "img1 img1"
    "especificos monitoramentos"
    "gestao img3"
    "estudos estudos"
    "img2 img2";
}

.services-img {
    display: none;
}

.services-mobile-img {
    display: block;
    justify-self: center;
    width: 100%;
}

.image-1 {
    grid-area: img1;
}

.image-2 {
    grid-area: img2;
}

.image-3 {
    justify-self: center;
    align-self: center;
    max-width: 12rem;
    grid-area: img3
}

.services {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #a8e06377;
}

.acordeon-question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    cursor: default;
}

.acordeon-question span {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f5f5f5;
    padding: 0.3rem;
    /* margin-bottom: 1rem; */
    width: 100%;
    background: linear-gradient(#76ca55, #3d7921);
    border-radius: 0.5rem;
}

.icon {
    position: absolute;
    display: none;
    right: 1rem;
    color: #f5f5f5;
    /* display: none; */
}

.acordeon-answer {
    /* display: flex;
    flex-direction: column; */
    padding: 0 1rem;
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 2rem;
    /* height: 100%; */
    width: 100%;
}

.acordeon-answer li {
    display: block;
}

.licenca {
    grid-area: licenca;
}

.gestao {
    grid-area: gestao;
}

.especificos {
    grid-area: especificos;
}

.monitoramentos {
    grid-area: monitoramentos;
}

.estudos {
    grid-area: estudos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estudos-container {
    display: flex;
    justify-content: space-between;
}

.projetos {
    grid-area: projetos;
}

.clients-section {
    background: white;
}

.clients-container {
    background-image: url("../images/mapa.jpg");
    background-repeat: no-repeat;
    background-size: 26rem;
    background-position: center 2rem;
    text-align: center;
    display: grid;
    grid-column-gap: 20%;
    grid-template-areas:
    "energia construtoras"
    "industria mineradoras"
    "tecnico tecnico"
    ;
}

.clients-map {
    display: none;
}

.clients-container h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #254914;
}

.clients-logos {
    margin: 1rem;
    padding: 1.5rem;
}

.clients-logos img {
    height: 4rem;
    padding: 1rem;
}

.energia {
    grid-area: energia;
    text-align: start;
}

.mineradoras {
    grid-area: mineradoras;
    text-align: end;
}

.construtoras {
    grid-area: construtoras;
    text-align: end;
}

.industria {
    grid-area: industria;
    text-align: start;
}

.tecnico {
    text-align: start;
    grid-area: tecnico;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100%; */
    width: 100%;
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

.contact-section {
    width: 80%;

}

.contato {
    background: none;
    margin: 0;
}

.contact-container {
    display: flex;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    color: rgb(8, 71, 8);
}

.contact-container i {
    margin-bottom: 1.5rem;
}

.contact-subtitle {
    font-weight: bolder;
}

.contact-box {
    width: 100%;
}

@media (max-width: 1100px) {
    .about-container {
        grid-template-areas:
        "abTitle abTitle"
        "abText abText"
        "abText abText"
        "abImg abImg"
        "abImg abImg"
        "abImg abImg"
        "miTitle miTitle"
        "miText miText"
        "miText miText"
        "miImg miImg"
        "miImg miImg"
        "miImg miImg"
        ;
    }
    
    .about-container img {
        width: 75%;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width:970px) {
    .services-container {
        grid-template-areas:
    "projetos licenca"
    "img1 img1"
    "especificos monitoramentos"
    "gestao gestao"
    "img2 img2"
    "estudos estudos";
    }

    .image-3 {
        display: none;
    }

    .gestao {
        text-align: center;
    }

    .clients-container {
        background-image: none;
        grid-column-gap: 0;
        grid-template-areas:
        "mapImg mapImg"
        "energia construtoras"
        "industria mineradoras"
        "tecnico tecnico"
        ;
    }

    .clients-map {
        margin-top: 2rem;
        display: block;
        justify-self: center;
        grid-area: mapImg;
        width: 70%;
    }

    .contact-container {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width:800px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        /* height: 80px; */
        z-index: 1;
        padding: 0;
        margin: 1rem;
    }

    .navbar-logo {
        margin: 1rem;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top:-1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar-menu.active {
        background: rgb(8, 71, 8);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: rgb(8, 71, 8);
    }

    .navbar-item {
        /* width: 100%; */
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .secao {
        width: 100%;
        padding: 0.5rem;
    }
    .about-text {
        font-size: 1rem;
    }
    .mission-text {
        font-size: 1rem;
    }

    .services-container {
        padding: 1rem;
        grid-template-columns: auto;
        grid-template-areas:
    "projetos" 
    "licenca"
    "img1"
    "especificos" 
    "monitoramentos"
    "gestao"
    "img2"
    "estudos";
    }

    .services {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* .acordeon-question {
        display: flex;
        cursor: pointer;
    } */

    .mobileQuestion {
        display: flex;
        cursor: pointer;
    }

    .mobileQuestion span{
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }



    /* .icon {
        display: block;
    } */

    .mobileIcon  {
        display: block;
    }
    
    /* .acordeon-answer {
        display: block;
        height: 100%;
        margin-bottom: 0;
        transition: all 0.5s ease;
    } */

    .mobileAnswer {
        display: block;
        height: 100%;
        margin-bottom: 0;
        transition: all 0.5s ease;
    }

    .acordeon-answer li {
        transition: all 0.5s ease;
    }

    .mobileLi {
        display: none;
        transition: all 0.5s ease;
    }
    
    /* .acordeon-answer li.acord-active {
        display: block;
    } */

    /* .estudos-container {
        flex-direction: column;
        width: 100%;
    } */

    .gestao {
        text-align: start;
    }

    .clients-logos {
        margin: 0;
        padding: 0;
    }

    .clients-logos img {
        height: 3rem;
    }


}