*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 6rem;
    background: #f5f5f5;
    /* background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f); */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0 auto;
    padding: 0 8rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo img {
    max-width: 7rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: 100%;
}

.navbar-links {
    color: #56ab2f;
    color: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    color: linear-gradient(to right, #a8e063, #56ab2f);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar-links:hover{
    text-shadow: 0 0 20px rgb(8, 95, 20);
    transform: all 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    /* background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f); */
}

.home-section {
    height: 49rem;
    width: 100%;
    background-image: url('../images/home-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    width: 24rem;
    height: 24rem;
    border-radius: 15rem;
    background: #f5f5f5;
    /* font-size: 6rem;
    color: rgb(8, 97, 8);
     */
    /* background: radial-gradient(#a8e063, #56ab2f); */
    /* background: radial-gradient(#e0de63, #56ab2f); */
}

.home-edf {
    max-height: 18rem;
}

/* .logo-container {
    position: relative;
}

.home-container p{
    font-size: 2rem;
    color: rgb(160, 92, 80);
}

#folhas {
    position: absolute;
    max-height: 7rem;
    top: -1rem;
    left: 2.5rem;
} */

/* home animation section --------------------------------------------------- */

/* .focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1s both;
    animation: focus-in-contract-bck 1s both;
} */

/* ----------------------------------------------
 * Generated by Animista on 2022-12-26 17:35:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */

 /* --------------- acima apenas comentario ----------------- */

 /* @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  } */
  
/* --------------------------------------------------------------------------- */

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    background-image: url("../images/logo-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
}

.about-container {
    position: relative;
    display: grid;
    height: 49rem;
    width: 1400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(8, 71, 8);;
    padding: 2rem;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
    grid-template-areas:
    "abImg abImg abTitle abTitle"
    "abImg abImg abText abText"
    "abImg abImg abText abText"
    "miTitle miTitle miImg miImg"
    "miText miText miImg miImg"
    "miText miText miImg miImg"
    ;
}

.about-container img {
    max-width: 40rem;
}

.about-img {
    grid-area: abImg;
}

.about-title {
    grid-area: abTitle;
    font-size: 2.5rem;
    font-weight: bold;
}

.about-text {
    grid-area: abText;
    font-size: 2rem;
    text-align: justify;
}

.mission-img {
    grid-area: miImg;
}

.mission-title {
    grid-area: miTitle;
    font-size: 2.5rem;
    font-weight: bold;
}

.mission-text {
    grid-area: miText;
    font-size: 2rem;
    text-align: justify;
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 49rem; */
    width: 1400px;
    padding: 0 2rem;
    background: #56ab2f31;
}

.services-section h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem;
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

.services-container {
    text-align: start;
    display: grid;
    grid-gap: 2rem 1rem;
    /* grid-column-gap: 1rem;
    grid-row-gap: 2rem; */
    grid-template-columns: repeat(auto-fill, minmax(33.3333%, auto));
    grid-template-areas:
    "projetos gestao img"
    "especificos monitoramentos licenca"
    "estudos estudos estudos"
    ;
}

.services-container h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background: linear-gradient(#a8e063, #56ab2f);
}

.services-container li {
    font-size: 1.4rem;
    margin-bottom: 10px;
    line-height: 30px;
}

.services-img {
    align-self: center;
    justify-self: end;
    grid-area: img;
}

.licenca {
    grid-area: licenca;
}

.gestao {
    grid-area: gestao;
}

.especificos {
    grid-area: especificos;
}

.monitoramentos {
    grid-area: monitoramentos;
}

.estudos {
    grid-area: estudos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estudos-container {
    display: flex;
    justify-content: space-between;
}

.estudos-ladoA {
    width: 50%;
}

.estudos-ladoB {
    width: 50%;
}

.projetos {
    grid-area: projetos;
}