*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 4rem;
    background: #f5f5f5;
    /* background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f); */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 100%;
    z-index: 1;
    margin: 0 8rem;
    /* padding: 0 8rem; */
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo img {
    max-width: 5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: 100%;
}

.navbar-links {
    color: #56ab2f;
    color: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    color: linear-gradient(to right, #a8e063, #56ab2f);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    text-decoration: none;
    height: 100%;
    transition: all 0.7s ease;
}

.navbar-links:hover{
    border-bottom: 1rem solid #428323;
    transition: all 0.7s ease;
}

.highlight {
    background: #428323;
    color: #a8e063;
    transition: all 0.7s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    /* background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f); */
}

.home-section {
    height: 49rem;
    width: 100%;
    background-image: url('../images/home-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    width: 24rem;
    height: 24rem;
    border-radius: 15rem;
    background: white;
}

.home-edf {
    max-height: 18rem;
}

.secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1400px;
}

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    background-image: url("../images/logo-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60rem;
}

.about-container {
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    color: rgb(8, 71, 8);
    padding: 2rem;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
    grid-template-areas:
    "abImg abImg abTitle abTitle"
    "abImg abImg abText abText"
    "abImg abImg abText abText"
    "miTitle miTitle miImg miImg"
    "miText miText miImg miImg"
    "miText miText miImg miImg"
    ;
}

.about-container img {
    max-width: 100%;
}

.about-img {
    grid-area: abImg;
}

.about-title {
    grid-area: abTitle;
    font-size: 2.5rem;
    font-weight: bold;
}

.about-text {
    grid-area: abText;
    font-size: 2rem;
    text-align: justify;
}

.mission-img {
    grid-area: miImg;
}

.mission-title {
    grid-area: miTitle;
    font-size: 2.5rem;
    font-weight: bold;
}

.mission-text {
    grid-area: miText;
    font-size: 2rem;
    text-align: justify;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem;
    background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

.services-container {
    padding: 2rem;
    text-align: start;
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(33.3333%, auto));
    grid-template-areas:
    "projetos gestao img"
    "especificos monitoramentos licenca"
    "estudos estudos estudos"
    ;
}

.services-container h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f5f5f5;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background: linear-gradient(#a8e063, #56ab2f);
}

.services-container li {
    font-size: 1.4rem;
    margin-bottom: 10px;
    line-height: 30px;
}

.services-img {
    align-self: center;
    justify-self: end;
    grid-area: img;
}

.licenca {
    grid-area: licenca;
}

.gestao {
    grid-area: gestao;
}

.especificos {
    grid-area: especificos;
}

.monitoramentos {
    grid-area: monitoramentos;
}

.estudos {
    grid-area: estudos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estudos-container {
    display: flex;
    justify-content: space-between;
}

.estudos-ladoA {
    width: 50%;
}

.estudos-ladoB {
    width: 50%;
}

.projetos {
    grid-area: projetos;
}

.clients-section {
    background: white;
}

.clients-container {
    background-image: url("../images/mapa.jpg");
    background-repeat: no-repeat;
    background-size: 34rem;
    background-position: 17rem 7rem;
    text-align: center;
    display: grid;
    grid-column-gap: 15rem ;
    grid-template-areas:
    "energia construtoras"
    "industria mineradoras"
    "tecnico tecnico"
    ;
}

.clients-container h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #254914;
}

.clients-logos {
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
}

.clients-logos img {
    height: 5rem;
    padding: 1rem;
}

.energia {
    grid-area: energia;
    text-align: start;
}

.mineradoras {
    padding-top: 4rem;
    grid-area: mineradoras;
    text-align: end;
}

.construtoras {
    grid-area: construtoras;
    text-align: end;
}

.industria {
    padding-top: 4rem;
    grid-area: industria;
    text-align: start;
}

.tecnico {
    text-align: start;
    grid-area: tecnico;
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(#a9cc56, #428323)
}

.contato {
    background: none;
    margin: 0;
}

.contact-container {
    display: flex;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgb(8, 71, 8);
}

.contact-container i {
    margin-bottom: 1.5rem;
}

.contact-subtitle {
    font-weight: bolder;
}

.email-box {
    width: 100%;
}

.phone-box {
    width: 100%;
}

@media (max-width: 1285px) {
    .navbar{

    }

    .navbar-container {

    }

    .navbar-item {

    }

    .navbar-links {

    }

    .navbar-logo {

    }

    .navbar-menu {

    }

    .clients-container {
        grid-column-gap: 13rem
    }
}

@media (max-width: 1200px) {
    .clients-container {
        background-position: center;
    }
}

@media (max-width: 1100px) {
    .navbar {
    }
    
    .navbar-container {
    }
    
    .navbar-logo {
    }
    
    .navbar-logo img {
    }
    
    .navbar-menu {
    }
    
    .navbar-item {
    }
    
    .navbar-links {
    }
    
    .navbar-links:hover{
    }
    
    .highlight {
    }
    
    .container {
    }
    
    .home-section {
    }
    
    .home-container {
    }
    
    .home-edf {
    }
    
    .about-section {
    }
    
    .about-section::before {
    }
    
    .about-container {
    }
    
    .about-container img {
    }
    
    .about-img {
    }
    
    .about-title {
    }
    
    .about-text {
    }
    
    .mission-img {
    }
    
    .mission-title {
    }
    
    .mission-text {
    }
    
    .section-title {
    }
    
    .secao {
    }
    
    .services-container {
    }
    
    .services-container h3 {
    }
    
    .services-container li {
    }
    
    .services-img {
    }
    
    .licenca {
    }
    
    .gestao {
    }
    
    .especificos {
    }
    
    .monitoramentos {
    }
    
    .estudos {
    }
    
    .estudos-container {
    }
    
    .estudos-ladoA {
    }
    
    .estudos-ladoB {
    }
    
    .projetos {
    }
    
    .clients-section {
    }
    
    .clients-container {
    }
    
    .clients-container h3 {
    }
    
    .clients-logos {
    }
    
    .clients-logos img {
    }
    
    .energia {
    }
    
    .mineradoras {
    }
    
    .construtoras {
    }
    
    .industria {
    }
    
    .tecnico {
    }
    
    footer {
    }
    
    .contato {
    }
    
    .contact-container {
    }
    
    .contact-container i {
    }
    
    .contact-subtitle {
    }
    
    .email-box {
    }
    
    .phone-box {
    }
}